html, body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: calc(100vh - 4px) !important;
    width: auto !important;
    border: 2px solid black
}
