html, body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

canvas {
    display: block;
    margin: auto;
    height: calc(100vh - 4px) !important;
    width: auto !important;
    border: 2px solid black
}
